.Maldive-img-section{
    vertical-align: middle;
}


.Maldiv-img1{
    width: 510px;
    margin-right: 500px;
    margin-top: 40px;
}
.Maldiv-img2{
    width: 510px;
    margin-top: -412px;
    height: 383px;
    margin-left: 546px;
}
.Maldiv-img3{
    width: 1033px;
    margin-left: 23px;
    height: 496px;
    margin-top: -15px;
    margin-bottom: -15px
}
.Maldiv-img4{
    width: 510px;
    margin-right: 500px;
    margin-top: 25px;
}
.Maldiv-img5{
    width: 510px;
    margin-top: -412px;
    height: 383px;
    margin-left: 546px;
}
.Maldiv-img6{
    width: 1033px;
    margin-left: 23px;
    height: 496px;
    margin-top: -15px;
    margin-bottom: -15px
}
.Maldiv-img7{
    width: 510px;
    margin-right: 500px;
    margin-top: 25px;
}
.Maldiv-img8{
    width: 510px;
    margin-top: -412px;
    height: 383px;
    margin-left: 546px;
}
.Maldiv-img9{
    width: 1033px;
    margin-left: 23px;
    height: 496px;
    margin-top: -15px;
    margin-bottom: -15px
}
.Maldiv-img10{
    width: 510px;
    margin-right: 500px;
    margin-top: 25px;
}
.Maldiv-img11{
    width: 510px;
    margin-top: -412px;
    height: 383px;
    margin-left: 546px;
}
.Maldiv-img12{
    width: 1033px;
    margin-left: 23px;
    height: 496px;
    margin-top: -15px;
    margin-bottom: -15px
}
.Maldiv-img13{
    width: 510px;
    margin-right: 500px;
    margin-top: 25px;
}
.Maldiv-img14{
    width: 510px;
    margin-top: -367px;
    height: 340px;
    margin-left: 546px;
}
.Maldiv-img15{
    width: 1033px;
    margin-left: 23px;
    height: 496px;
    margin-top: -15px;
    margin-bottom: -15px
}


