
.gradient-third img{
    width: 720px;
    height: 645px;
    float: left;
    /* position: sticky; */
}

.gradient-third h1{
    float: left;
    margin-top: -420px;
    margin-left: 2px;
    font-size: xxx-large;
    color: white;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    padding: 70px;
  }
  
  .button-first {
    margin-top: -40px;
    margin-left: 15px;
    padding-left: 15px;
    padding: 7px 10px;
    border-radius: 20px; /* Adjust the radius as needed */
    background-color: white; /* Example background color */
    color: black;
    cursor: pointer;
    border: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .button-first:hover {
    color: blue; /* Darker color on hover */
  }

  .btn-container button{
    margin-left: 30px;
  }

  .large-cont-third{
    margin-top: -60px;
  }

  .large-bttn {
    width: 510px;   
    border-radius: 9px;
    height: 65px;
    background: white;
    border: 2px solid rgb(203, 193, 193);
    text-align: justify;
    padding-left: 25px;
}

.large-bttn:hover{
    background: blueviolet;
    color: white;
    border: 2px solid black;
    /* animation-delay: 5s; */
}
  